/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет лого #000000 */
/* белый #FFFFFF */
/* акцент #2196F3 */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-color: #000000;
  --special-text-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: var(--special-text-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* index.html*/

/* header */

.page-header {
  border-bottom: 1px solid #ececec;
  min-height: 80px;
  background: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav .link,
.auth-nav .link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.auth-nav .auth-nav-item + .auth-nav-item {
  margin-left: 50px;
}

.auth-nav .link {
  color: var(--secondary-text-color);
}

.header-flex {
  display: flex;
}

.contacts-icon {
  margin-right: 10px;
}

.icon-envelope {
  width: 16px;
  height: 12px;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
}

/* logo */
.web {
  color: var(--accent-color);
}

.logo {
  color: var(--logo-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-footer {
  color: var(--special-text-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* navegation */
.link {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.active {
  position: relative;
  color: var(--accent-color);
}

.active::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

/* hero */
.hero .hero-title {
  color: var(--special-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px;
  margin-bottom: 30px;
}

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 200px 0;

  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-position: center;
  background-color: #2f303a;
}

.hero-button {
  display: inline-block;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--special-text-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: rgb(83, 136, 235);
}

/* team */

.section {
  padding: 94px 0 94px 0;
}

.section.no-padding {
  padding-top: 0px;
}

.section .team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.section .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section .text {
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section .title-h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0;
}

/* Priorities section */
.priorities {
  display: flex;
}

.priorities-item {
  width: 270px;
}

.priorities-item:not(:last-child) {
  margin-right: 30px;
}

.priorities .title {
  margin-bottom: 10px;
}

.priorities-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna {
  width: 65.32px;
  height: 70px;
}

.icon-clock {
  display: block;
  width: 66.96px;
  height: 70px;
}

.icon-diagram,
.icon-astronaut {
  display: block;
  width: 70px;
  height: 70px;
}

/* Service section */
.service-list {
  display: flex;
}

.service-item:not(:last-child) {
  margin-right: 30px;
}

/* Team section */

.team-bkg {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  margin-top: 50px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.section .team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.section .team-job {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-item-footer {
  background-color: var(--special-text-color);
  padding: 30px 0 30px 0;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
}

/* Постоянные клиенты */

.regular-clients .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  margin-bottom: 94px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.logo-1 {
  width: 45px;
  height: 50px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 42.6px;
}

.logo-4 {
  width: 80px;
  height: 42px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 88.5px;
  height: 45.5px;
}

/* footer */
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  padding: 0;
}

.address {
  margin-top: 20px;
}

.address-item:not(:first-child) {
  margin-top: 9px;
}

.footer-contact > li:not(:last-child) {
  margin-bottom: 9px;
}

.address-item {
  color: var(--special-text-color);
}

.address-item:not(:first-child) {
  margin-top: 9px;
}

.dates {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list .dates:hover,
.footer-list .dates:focus {
  color: var(--accent-color);
}

.transp {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.join .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--special-text-color);
}

.footer-address {
  margin-right: 70px;
}

.join-list {
  display: flex;
}

.join-item {
  display: block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover,
.join-link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.join-icon {
  width: 20px;
  height: 20px;
}

/* Portfolio */
.main {
  background-color: var(--special-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Buttons Portfolio */

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.button-items:not(:last-child) {
  margin-right: 8px;
}

.button-items .btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-items .btn:hover,
.button-items .btn:focus {
  background-color: var(--accent-color);
  color: var(--special-text-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* content */

.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-right: -30px;
  margin-bottom: -30px;
}

.content-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 90px) / 3);
  background: #ffffff;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content .content-item:hover,
.content .content-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-item:nth-child(3n) {
  margin-right: 0;
}

.content .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  text-transform: none;
}

.content .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.item-footer {
  padding: 20px 24px;
}

/* Portfolio Overlay */
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms;
}

.overlay-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--special-text-color);
}

.content-item:hover .portfolio-overlay {
  transform: translateY(0);
}

/* Service Overlay */

.label-item {
  position: relative;
}

.label-overlay {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  color: var(--special-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--special-text-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--special-text-color);
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  border: 1px solid var(--accent-color);
}

.close-icon:hover,
.close-icon:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
